.gameNavbar {
  top: 0;
  width: 5rem;
  height: 100vh;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  z-index: 2;
}

.gameNavbar.active {
  width: 22rem;
}

.gameNavbar:hover {
  width: 22rem;
}

.gameNavbar:hover .linkText, .gameNavbar.active .linkText {
  display: inline;
}

.gameNavbar:hover .navLogo svg {
  transform: rotate(-180deg);
  margin-left: 2rem;
}

.navbarNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
