
.game {
  padding: 2rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.gameBoardGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, minmax(10px, 400px));
  grid-template-rows: repeat(5, minmax(10px, 1fr));
  gap: 4% 2%;
  float: none;
  z-index: 1;
}

.simpButton {
  background-color: var(--bg-primary);
  width: 12rem;
  height: 4rem;
  border-radius: 1rem;
  margin: auto;
  padding: auto;
}
