.gameNavbar {
  top: 0;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  overflow: visible;
  z-index: 2;
}

.gameNavbar.activeItem {
  width: 22rem;
}

.gameNavbar:hover {
  width: 22rem;
}

.gameNavbar:hover .linkText {
  display: inline;
}

.gameNavbar:hover .navbarLogo svg {
  transform: rotate(-180deg);
  margin-left: 2rem;

}

.navbarNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbarLogo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.navbarLogo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navbarItem {
  width: 100%;
}

.itemDropdown {
  width: 100%;
}

.navbarItem:last-child {
  margin-top: auto;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.dropdownToggle:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.dropdownToggle svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.linkText {
  display: none;
  margin-left: 1rem;
}

.dropdownContainer {
  display: block;
  width: 22rem;
}

.teamsDropdown {
  white-space: 1rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 18rem;
  height: 100%;
  border-radius: 25px;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teamsInfo {
  display: grid;
  grid-template-columns: 49% 2% 49%;
  color: white;
}

.redTeam {
  display: flex;
  flex-direction: column;

}

.blueTeam {
  display: flex;
  flex-direction: column;
}

.verticalDivider {
  background-color: green;
  height: 100%;
  width: 6px;
}

.horizontalDivider {
  background-color: green;
  height: 6px;
  width: 100%;
}
