
.game {
  height: 100vh;
}

.gameBoardGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 400px));
  grid-template-rows: repeat(5, minmax(10px, 1fr));
  padding: 2rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  gap: 4% 2%;
  float: none;
  z-index: 1;
}

