
.navLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.itemText {
  animation: slideout 500ms 1 forwards;
}

.gameNavbar.active .itemText {
  display: inline;
  white-space: nowrap;
  margin-left: 1rem;
  animation: slidein 1s
}

.gameNavbar:hover .itemText {
  display: inline;
  white-space: nowrap;
  margin-left: 1rem;
  animation: slidein 1s;
}


@keyframes slidein {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0px;
  }
}


.navLogo svg {
  width: 2rem;
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navItem {
  width: 100%;
}

.itemDropdown {
  width: 100%;
}

.navItem:last-child {
  margin-top: auto;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transform: translateZ(1);
  transition: var(--transition-speed);
}

.dropdownToggle:hover, .dropdownToggle.active {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  cursor: pointer;
}

@keyframes dropdown {
  from {
    opacity: 0;
    height: 0%;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }
  to {
    opacity: 1;
    height: auto;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
  }
}

.navbar-dropdown-enter {
  background-color: var(--bg-secondary);
} 
.navbar-dropdown-enter-active {
  background-color: var(--bg-secondary);
}
.navbar-dropdown-exit {
  white-space: 1rem;
  background-color: var(--bg-secondary);
}
.navbar-dropdown-exit-active {
  opacity: 0;
  margin: 0rem;
  padding: 0rem;
  width: 100%;
  height: auto;
  background-color: var(--bg-secondary);
  transition: all var(--transition-speed) ease;
}

.dropdownToggle svg {
  width: 2rem;
  min-width: 1rem;
  margin: 0 1.5rem;
}

.dropdownToggle svg {
  width: 2rem;
  min-width: 1rem;
  margin: 0 1.5rem;
}
