
.teamsDropdown {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teamsInfo {
  display: grid;
  grid-template-columns: 49% 2% 49%;
  color: white;
}

.teamListBox {
  display: flex;
  flex-direction: column;
}

.teamListBox {
  display: flex;
  flex-direction: column;
}

.teamNameHeader {
  color: gray;
  text-transform: uppercase;
  margin: 0.5rem;
}

p {
  margin: 0.5rem;
}

.stickBottom {
  margin-top: auto;
}

.verticalDivider {
  background-color: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
  height: 100%;
  width: 4px;
  border-radius: 5px 5px 0px 0px;
}

.horizontalDivider {
  background-color: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
  height: 4px;
  width: 100%;
  border-radius: 5px;
}
